@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.digi-name {
  font-family: 'Press Start 2P', cursive;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container {
  background: #172432;
  border-radius: 16px;
  padding: 1rem;
  width: 100%;            /* ou algo mais largo */
  max-width: 1000px;      /* permite 4 cards de 150px + gaps */
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

/* Título */
h1 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background: #92e5c6;
  border-radius: 24px;
  padding: 0.5rem;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 0.5rem;
  border-radius: 24px;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: 'DigiFont', monospace;
}

/* Card grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 12px;
  justify-content: center;
}

/* Individual  card */
.card {
  background: #f6f6f6;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
  height: 100%;     
}

.digi-name {
  color: #172432;
  font-family: 'Press Start 2P', cursive;
}

.card:hover .digi-name {
  color: #81d8b6;  /* cor no hover */
}

.card:hover {
  transform: scale(1.02);
}

.not-found {
  font-family: 'Orbitron', sans-serif;;
  text-align: right;
  color: #1e1e1e;
  font-size: 1.2rem;
  padding: 40px 20px;
  grid-column: 1 / -1; 
  opacity: 0.8;
  animation: fadeIn 0.3s ease-in;
}

.result-count {
  color: #fae8a5;
  font-family: 'DigiFont', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right; /* pushes text to the right */
  margin: 10px 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.8; }
}

/* Logo principal */
.main-logo {
  display: block;
  max-width: 300px;
  margin: 0 auto 1rem auto;
}

/* Container da logo secundária */
.digi-logo-container {
  display: flex;
  justify-content: center; 
  margin-top: -40px;    
  margin-bottom: 50px;
  margin-left: 50px;  
}

/* Logo Digidex */
.digi-logo {
  max-width: 150px;   /* deixa menor */
  margin-left: 80px;  /* joga mais para a direita */
}